<div class="container">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>
 
  <nav>
    <a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
  </nav>
  <router-outlet></router-outlet>
</div>

<!-- <router-outlet></router-outlet> -->


<!-- source link
https://grokonez.com/frontend/angular/angular-8-firestore-tutorial-crud-examples-angularfire#Set_up_the_Firebase_Project_038_Install_angularfire
-->